.hover-font-size-small:hover {
    font-size: 12.5px;
}

.hover-font-size-title:hover {
    font-size: 22px;
}

.hover-font-size-paragraph:hover {
    font-size: 16px;
}

.hover-font-size-thumb:hover {
    font-size: 18px;
}

.hover-font-size-big:hover {
    font-size: 50px;
}

.hover-font-size-big-plus:hover {
    font-size: 100px;
}

.hover-font-size-0:hover {
    font-size: 0px
}

.hover-font-size-1:hover {
    font-size: 1px
}

.hover-font-size-2:hover {
    font-size: 2px
}

.hover-font-size-3:hover {
    font-size: 3px
}

.hover-font-size-4:hover {
    font-size: 4px
}

.hover-font-size-5:hover {
    font-size: 5px
}

.hover-font-size-6:hover {
    font-size: 6px
}

.hover-font-size-7:hover {
    font-size: 7px
}

.hover-font-size-8:hover {
    font-size: 8px
}

.hover-font-size-9:hover {
    font-size: 9px
}

.hover-font-size-10:hover {
    font-size: 10px
}

.hover-font-size-11:hover {
    font-size: 11px
}

.hover-font-size-12:hover {
    font-size: 12px
}

.hover-font-size-13:hover {
    font-size: 13px
}

.hover-font-size-14:hover {
    font-size: 14px
}

.hover-font-size-15:hover {
    font-size: 15px
}

.hover-font-size-16:hover {
    font-size: 16px
}

.hover-font-size-17:hover {
    font-size: 17px
}

.hover-font-size-18:hover {
    font-size: 18px
}

.hover-font-size-19:hover {
    font-size: 19px
}

.hover-font-size-20:hover {
    font-size: 20px
}

.hover-font-size-21:hover {
    font-size: 21px
}

.hover-font-size-22:hover {
    font-size: 22px
}

.hover-font-size-23:hover {
    font-size: 23px
}

.hover-font-size-24:hover {
    font-size: 24px
}

.hover-font-size-25:hover {
    font-size: 25px
}