/*======================================
         Welocme to umbala
         
you can get fun with your coding time
by listining to our playlist in Spotify
=======================================*/


//Umbala Matching Palette
$sulu: #89F387;
$blue: #00acff;
$slate: #6a5acd;
$violet: #e95ee9;
$pink: #f37cb2;
$orange: #e36900;
$red: #FF6347;
$yellow: #f9f871;
$green: #008a5c;
$gray: #808080;
$gyeal: #CCC;
$white: #ffffff;
$black: #000000;

//Color
.sulu {
    color: $sulu
}
.blue {
    color: $blue
}
.slate {
    color: $slate
}
.violet {
    color: $violet
}
.pink {
    color: $pink
}
.orange {
    color: $orange
}
.red {
    color: $red
}
.yellow {
    color: $yellow
}
.green {
    color: $green
}
.gray {
    color: $gray
}
.gyeal {
    color: $gyeal
}


//Background Colors
.background-white {
    background-color: $white
}
.background-black {
    background-color: $black
}

.background-sulu {
    background-color: $sulu
}
.background-blue {
    background-color: $blue
}
.background-slate {
    background-color: $slate
}
.background-violet {
    background-color: $violet
}
.background-pink {
    background-color: $pink
}
.background-orange {
    background-color: $orange
}
.background-red {
    background-color: $red
}
.background-yellow {
    background-color: $yellow
}
.background-green {
    background-color: $green
}
.background-gray {
    background-color: $gray
}
.background-gyeal {
    background-color: $gyeal
}

//umbala borders
.border-style-dotted {
    border-style: dotted;
}
.border-style-dashed {
    border-style: dashed;
}
.border-style-solid {
    border-style: solid;
}
.border-style-double {
    border-style: double;
}
.border-style-groove {
    border-style: groove;
}
.border-style-ridge {
    border-style: ridge;
}
.border-style-inset {
    border-style: inset;
}
.border-style-outset {
    border-style: outset;
}
.border-style-none {
    border-style: none;
}
.border-style-hidden {
    border-style: hidden;
}
.border-style-mix {
    border-style: dotted dashed solid double;
}