/*======================================
         Welocme to umbala
         
you can get fun with your coding time
by listining to our playlist in Spotify
=======================================*/
.sulu {
  color: #89F387;
}

.blue {
  color: #00acff;
}

.slate {
  color: #6a5acd;
}

.violet {
  color: #e95ee9;
}

.pink {
  color: #f37cb2;
}

.orange {
  color: #e36900;
}

.red {
  color: #FF6347;
}

.yellow {
  color: #f9f871;
}

.green {
  color: #008a5c;
}

.gray {
  color: #808080;
}

.gyeal {
  color: #CCC;
}

.background-white {
  background-color: #ffffff;
}

.background-black {
  background-color: #000000;
}

.background-sulu {
  background-color: #89F387;
}

.background-blue {
  background-color: #00acff;
}

.background-slate {
  background-color: #6a5acd;
}

.background-violet {
  background-color: #e95ee9;
}

.background-pink {
  background-color: #f37cb2;
}

.background-orange {
  background-color: #e36900;
}

.background-red {
  background-color: #FF6347;
}

.background-yellow {
  background-color: #f9f871;
}

.background-green {
  background-color: #008a5c;
}

.background-gray {
  background-color: #808080;
}

.background-gyeal {
  background-color: #CCC;
}

.boder-none {
  border: none;
}

.border-white {
  border-color: #ffffff;
}

.border-black {
  border-color: #000000;
}

.border-sulu {
  border-color: #89F387;
}

.border-blue {
  border-color: #00acff;
}

.border-slate {
  border-color: #6a5acd;
}

.border-violet {
  border-color: #e95ee9;
}

.border-pink {
  border-color: #f37cb2;
}

.border-orange {
  border-color: #e36900;
}

.border-red {
  border-color: #FF6347;
}

.border-yellow {
  border-color: #f9f871;
}

.border-green {
  border-color: #008a5c;
}

.border-gray {
  border-color: #808080;
}

.border-gyeal {
  border-color: #CCC;
}

.border-top-white {
  border-top-color: #ffffff;
}

.border-top-black {
  border-top-color: #000000;
}

.border-top-sulu {
  border-top-color: #89F387;
}

.border-top-blue {
  border-top-color: #00acff;
}

.border-top-slate {
  border-top-color: #6a5acd;
}

.border-top-violet {
  border-top-color: #e95ee9;
}

.border-top-pink {
  border-top-color: #f37cb2;
}

.border-top-orange {
  border-top-color: #e36900;
}

.border-top-red {
  border-top-color: #FF6347;
}

.border-top-yellow {
  border-top-color: #f9f871;
}

.border-top-green {
  border-top-color: #008a5c;
}

.border-top-gray {
  border-top-color: #808080;
}

.border-top-gyeal {
  border-top-color: #CCC;
}

.border-bottom-white {
  border-bottom-color: #ffffff;
}

.border-bottom-black {
  border-bottom-color: #000000;
}

.border-bottom-sulu {
  border-bottom-color: #89F387;
}

.border-bottom-blue {
  border-bottom-color: #00acff;
}

.border-bottom-slate {
  border-bottom-color: #6a5acd;
}

.border-bottom-violet {
  border-bottom-color: #e95ee9;
}

.border-bottom-pink {
  border-bottom-color: #f37cb2;
}

.border-bottom-orange {
  border-bottom-color: #e36900;
}

.border-bottom-red {
  border-bottom-color: #FF6347;
}

.border-bottom-yellow {
  border-bottom-color: #f9f871;
}

.border-bottom-green {
  border-bottom-color: #008a5c;
}

.border-bottom-gray {
  border-bottom-color: #808080;
}

.border-bottom-gyeal {
  border-bottom-color: #CCC;
}

.border-left-white {
  border-left-color: #ffffff;
}

.border-left-black {
  border-left-color: #000000;
}

.border-left-sulu {
  border-left-color: #89F387;
}

.border-left-blue {
  border-left-color: #00acff;
}

.border-left-slate {
  border-left-color: #6a5acd;
}

.border-left-violet {
  border-left-color: #e95ee9;
}

.border-left-pink {
  border-left-color: #f37cb2;
}

.border-left-orange {
  border-left-color: #e36900;
}

.border-left-red {
  border-left-color: #FF6347;
}

.border-left-yellow {
  border-left-color: #f9f871;
}

.border-left-green {
  border-left-color: #008a5c;
}

.border-left-gray {
  border-left-color: #808080;
}

.border-left-gyeal {
  border-left-color: #CCC;
}

.border-right-white {
  border-right-color: #ffffff;
}

.border-right-black {
  border-right-color: #000000;
}

.border-right-sulu {
  border-right-color: #89F387;
}

.border-right-blue {
  border-right-color: #00acff;
}

.border-right-slate {
  border-right-color: #6a5acd;
}

.border-right-violet {
  border-right-color: #e95ee9;
}

.border-right-pink {
  border-right-color: #f37cb2;
}

.border-right-orange {
  border-right-color: #e36900;
}

.border-right-red {
  border-right-color: #FF6347;
}

.border-right-yellow {
  border-right-color: #f9f871;
}

.border-right-green {
  border-right-color: #008a5c;
}

.border-right-gray {
  border-right-color: #808080;
}

.border-right-gyeal {
  border-right-color: #CCC;
}

.border-style-dotted {
  border-style: dotted;
}

.border-style-dashed {
  border-style: dashed;
}

.border-style-solid {
  border-style: solid;
}

.border-style-double {
  border-style: double;
}

.border-style-groove {
  border-style: groove;
}

.border-style-ridge {
  border-style: ridge;
}

.border-style-inset {
  border-style: inset;
}

.border-style-outset {
  border-style: outset;
}

.border-style-none {
  border-style: none;
}

.border-style-hidden {
  border-style: hidden;
}

.border-style-mix {
  border-style: dotted dashed solid double;
}

.border-top-style-dotted {
  border-top-style: dotted;
}

.border-top-style-dashed {
  border-top-style: dashed;
}

.border-top-style-solid {
  border-top-style: solid;
}

.border-top-style-double {
  border-top-style: double;
}

.border-top-style-groove {
  border-top-style: groove;
}

.border-top-style-ridge {
  border-top-style: ridge;
}

.border-top-style-inset {
  border-top-style: inset;
}

.border-top-style-outset {
  border-top-style: outset;
}

.border-top-style-none {
  border-top-style: none;
}

.border-top-style-hidden {
  border-top-style: hidden;
}

.border-top-style-mix {
  border-top-style: dotted dashed solid double;
}

.border-bottom-style-dotted {
  border-bottom-style: dotted;
}

.border-bottom-style-dashed {
  border-bottom-style: dashed;
}

.border-bottom-style-solid {
  border-bottom-style: solid;
}

.border-bottom-style-double {
  border-bottom-style: double;
}

.border-bottom-style-groove {
  border-bottom-style: groove;
}

.border-bottom-style-ridge {
  border-bottom-style: ridge;
}

.border-bottom-style-inset {
  border-bottom-style: inset;
}

.border-bottom-style-outset {
  border-bottom-style: outset;
}

.border-bottom-style-none {
  border-bottom-style: none;
}

.border-bottom-style-hidden {
  border-bottom-style: hidden;
}

.border-bottom-style-mix {
  border-bottom-style: dotted dashed solid double;
}

.border-left-style-dotted {
  border-left-style: dotted;
}

.border-left-style-dashed {
  border-left-style: dashed;
}

.border-left-style-solid {
  border-left-style: solid;
}

.border-left-style-double {
  border-left-style: double;
}

.border-left-style-groove {
  border-left-style: groove;
}

.border-left-style-ridge {
  border-left-style: ridge;
}

.border-left-style-inset {
  border-left-style: inset;
}

.border-left-style-outset {
  border-left-style: outset;
}

.border-left-style-none {
  border-left-style: none;
}

.border-left-style-hidden {
  border-left-style: hidden;
}

.border-left-style-mix {
  border-left-style: dotted dashed solid double;
}

.border-right-style-dotted {
  border-right-style: dotted;
}

.border-right-style-dashed {
  border-right-style: dashed;
}

.border-right-style-solid {
  border-right-style: solid;
}

.border-right-style-double {
  border-right-style: double;
}

.border-right-style-groove {
  border-right-style: groove;
}

.border-right-style-ridge {
  border-right-style: ridge;
}

.border-right-style-inset {
  border-right-style: inset;
}

.border-right-style-outset {
  border-right-style: outset;
}

.border-right-style-none {
  border-right-style: none;
}

.border-right-style-hidden {
  border-right-style: hidden;
}

.border-right-style-mix {
  border-right-style: dotted dashed solid double;
}

.border-width-thin {
  border-width: thin;
}

.border-width-meduim {
  border-width: medium;
}

.border-width-thick {
  border-width: thick;
}

.border-width-1 {
  border-width: 1px;
}

.border-width-2 {
  border-width: 2px;
}

.border-width-3 {
  border-width: 3px;
}

.border-width-4 {
  border-width: 4px;
}

.border-width-5 {
  border-width: 5px;
}

.border-width-6 {
  border-width: 6px;
}

.border-width-7 {
  border-width: 7px;
}

.border-width-8 {
  border-width: 8px;
}

.border-width-9 {
  border-width: 9px;
}

.border-width-10 {
  border-width: 10px;
}

.border-width-11 {
  border-width: 11px;
}

.border-width-12 {
  border-width: 12px;
}

.border-width-13 {
  border-width: 13px;
}

.border-width-14 {
  border-width: 14px;
}

.border-width-15 {
  border-width: 15px;
}

.border-width-16 {
  border-width: 16px;
}

.border-width-17 {
  border-width: 17px;
}

.border-width-18 {
  border-width: 18px;
}

.border-width-19 {
  border-width: 19px;
}

.border-width-20 {
  border-width: 20px;
}

.border-width-21 {
  border-width: 21px;
}

.border-width-22 {
  border-width: 22px;
}

.border-width-23 {
  border-width: 23px;
}

.border-width-24 {
  border-width: 24px;
}

.border-width-25 {
  border-width: 25px;
}

.border-top-width-thin {
  border-top-width: thin;
}

.border-top-width-meduim {
  border-top-width: medium;
}

.border-top-width-thick {
  border-top-width: thick;
}

.border-top-width-1 {
  border-top-width: 1px;
}

.border-top-width-2 {
  border-top-width: 2px;
}

.border-top-width-3 {
  border-top-width: 3px;
}

.border-top-width-4 {
  border-top-width: 4px;
}

.border-top-width-5 {
  border-top-width: 5px;
}

.border-top-width-6 {
  border-top-width: 6px;
}

.border-top-width-7 {
  border-top-width: 7px;
}

.border-top-width-8 {
  border-top-width: 8px;
}

.border-top-width-9 {
  border-top-width: 9px;
}

.border-top-width-10 {
  border-top-width: 10px;
}

.border-top-width-11 {
  border-top-width: 11px;
}

.border-top-width-12 {
  border-top-width: 12px;
}

.border-top-width-13 {
  border-top-width: 13px;
}

.border-top-width-14 {
  border-top-width: 14px;
}

.border-top-width-15 {
  border-top-width: 15px;
}

.border-top-width-16 {
  border-top-width: 16px;
}

.border-top-width-17 {
  border-top-width: 17px;
}

.border-top-width-18 {
  border-top-width: 18px;
}

.border-top-width-19 {
  border-top-width: 19px;
}

.border-top-width-20 {
  border-top-width: 20px;
}

.border-top-width-21 {
  border-top-width: 21px;
}

.border-top-width-22 {
  border-top-width: 22px;
}

.border-top-width-23 {
  border-top-width: 23px;
}

.border-top-width-24 {
  border-top-width: 24px;
}

.border-top-width-25 {
  border-top-width: 25px;
}

.border-bottom-width-thin {
  border-bottom-width: thin;
}

.border-bottom-width-meduim {
  border-bottom-width: medium;
}

.border-bottom-width-thick {
  border-bottom-width: thick;
}

.border-bottom-width-1 {
  border-bottom-width: 1px;
}

.border-bottom-width-2 {
  border-bottom-width: 2px;
}

.border-bottom-width-3 {
  border-bottom-width: 3px;
}

.border-bottom-width-4 {
  border-bottom-width: 4px;
}

.border-bottom-width-5 {
  border-bottom-width: 5px;
}

.border-bottom-width-6 {
  border-bottom-width: 6px;
}

.border-bottom-width-7 {
  border-bottom-width: 7px;
}

.border-bottom-width-8 {
  border-bottom-width: 8px;
}

.border-bottom-width-9 {
  border-bottom-width: 9px;
}

.border-bottom-width-10 {
  border-bottom-width: 10px;
}

.border-bottom-width-11 {
  border-bottom-width: 11px;
}

.border-bottom-width-12 {
  border-bottom-width: 12px;
}

.border-bottom-width-13 {
  border-bottom-width: 13px;
}

.border-bottom-width-14 {
  border-bottom-width: 14px;
}

.border-bottom-width-15 {
  border-bottom-width: 15px;
}

.border-bottom-width-16 {
  border-bottom-width: 16px;
}

.border-bottom-width-17 {
  border-bottom-width: 17px;
}

.border-bottom-width-18 {
  border-bottom-width: 18px;
}

.border-bottom-width-19 {
  border-bottom-width: 19px;
}

.border-bottom-width-20 {
  border-bottom-width: 20px;
}

.border-bottom-width-21 {
  border-bottom-width: 21px;
}

.border-bottom-width-22 {
  border-bottom-width: 22px;
}

.border-bottom-width-23 {
  border-bottom-width: 23px;
}

.border-bottom-width-24 {
  border-bottom-width: 24px;
}

.border-bottom-width-25 {
  border-bottom-width: 25px;
}

.border-left-width-thin {
  border-left-width: thin;
}

.border-left-width-meduim {
  border-left-width: medium;
}

.border-left-width-thick {
  border-left-width: thick;
}

.border-left-width-1 {
  border-left-width: 1px;
}

.border-left-width-2 {
  border-left-width: 2px;
}

.border-left-width-3 {
  border-left-width: 3px;
}

.border-left-width-4 {
  border-left-width: 4px;
}

.border-left-width-5 {
  border-left-width: 5px;
}

.border-left-width-6 {
  border-left-width: 6px;
}

.border-left-width-7 {
  border-left-width: 7px;
}

.border-left-width-8 {
  border-left-width: 8px;
}

.border-left-width-9 {
  border-left-width: 9px;
}

.border-left-width-10 {
  border-left-width: 10px;
}

.border-left-width-11 {
  border-left-width: 11px;
}

.border-left-width-12 {
  border-left-width: 12px;
}

.border-left-width-13 {
  border-left-width: 13px;
}

.border-left-width-14 {
  border-left-width: 14px;
}

.border-left-width-15 {
  border-left-width: 15px;
}

.border-left-width-16 {
  border-left-width: 16px;
}

.border-left-width-17 {
  border-left-width: 17px;
}

.border-left-width-18 {
  border-left-width: 18px;
}

.border-left-width-19 {
  border-left-width: 19px;
}

.border-left-width-20 {
  border-left-width: 20px;
}

.border-left-width-21 {
  border-left-width: 21px;
}

.border-left-width-22 {
  border-left-width: 22px;
}

.border-left-width-23 {
  border-left-width: 23px;
}

.border-left-width-24 {
  border-left-width: 24px;
}

.border-left-width-25 {
  border-left-width: 25px;
}

.border-right-width-thin {
  border-right-width: thin;
}

.border-right-width-meduim {
  border-right-width: medium;
}

.border-right-width-thick {
  border-right-width: thick;
}

.border-right-width-1 {
  border-right-width: 1px;
}

.border-right-width-2 {
  border-right-width: 2px;
}

.border-right-width-3 {
  border-right-width: 3px;
}

.border-right-width-4 {
  border-right-width: 4px;
}

.border-right-width-5 {
  border-right-width: 5px;
}

.border-right-width-6 {
  border-right-width: 6px;
}

.border-right-width-7 {
  border-right-width: 7px;
}

.border-right-width-8 {
  border-right-width: 8px;
}

.border-right-width-9 {
  border-right-width: 9px;
}

.border-right-width-10 {
  border-right-width: 10px;
}

.border-right-width-11 {
  border-right-width: 11px;
}

.border-right-width-12 {
  border-right-width: 12px;
}

.border-right-width-13 {
  border-right-width: 13px;
}

.border-right-width-14 {
  border-right-width: 14px;
}

.border-right-width-15 {
  border-right-width: 15px;
}

.border-right-width-16 {
  border-right-width: 16px;
}

.border-right-width-17 {
  border-right-width: 17px;
}

.border-right-width-18 {
  border-right-width: 18px;
}

.border-right-width-19 {
  border-right-width: 19px;
}

.border-right-width-20 {
  border-right-width: 20px;
}

.border-right-width-21 {
  border-right-width: 21px;
}

.border-right-width-22 {
  border-right-width: 22px;
}

.border-right-width-23 {
  border-right-width: 23px;
}

.border-right-width-24 {
  border-right-width: 24px;
}

.border-right-width-25 {
  border-right-width: 25px;
}

.rounded {
  border-radius: 5.5px;
}

.unrounded {
  border-radius: 0;
}

.rounded-top {
  border-top-left-radius: 5.5px;
  border-top-right-radius: 5.5px;
}

.unrounded-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.rounded-bottom {
  border-bottom-left-radius: 5.5px;
  border-bottom-right-radius: 5.5px;
}

.unrounded-bottom {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.rounded-top-left {
  border-top-left-radius: 5.5px;
}

.unrounded-top-left {
  border-top-left-radius: 0;
}

.rounded-top-right {
  border-top-right-radius: 5.5px;
}

.unrounded-top-right {
  border-top-right-radius: 0;
}

.rounded-bottom-left {
  border-bottom-left-radius: 5.5px;
}

.unrounded-bottom-left {
  border-bottom-left-radius: 0;
}

.rounded-bottom-right {
  border-bottom-right-radius: 5.5px;
}

.unrounded-bottom-right {
  border-bottom-right-radius: 0;
}

.border-radius-1 {
  border-radius: 1px;
}

.border-radius-2 {
  border-radius: 2px;
}

.border-radius-3 {
  border-radius: 3px;
}

.border-radius-4 {
  border-radius: 4px;
}

.border-radius-5 {
  border-radius: 5px;
}

.border-radius-6 {
  border-radius: 6px;
}

.border-radius-7 {
  border-radius: 7px;
}

.border-radius-8 {
  border-radius: 8px;
}

.border-radius-9 {
  border-radius: 9px;
}

.border-radius-10 {
  border-radius: 10px;
}

.border-radius-11 {
  border-radius: 11px;
}

.border-radius-12 {
  border-radius: 12px;
}

.border-radius-13 {
  border-radius: 13px;
}

.border-radius-14 {
  border-radius: 14px;
}

.border-radius-15 {
  border-radius: 15px;
}

.border-radius-16 {
  border-radius: 16px;
}

.border-radius-17 {
  border-radius: 17px;
}

.border-radius-18 {
  border-radius: 18px;
}

.border-radius-19 {
  border-radius: 19px;
}

.border-radius-20 {
  border-radius: 20px;
}

.border-radius-21 {
  border-radius: 21px;
}

.border-radius-22 {
  border-radius: 22px;
}

.border-radius-23 {
  border-radius: 23px;
}

.border-radius-24 {
  border-radius: 24px;
}

.border-radius-25 {
  border-radius: 25px;
}

.border-radius-5per {
  border-radius: 10%;
}

.border-radius-10per {
  border-radius: 10%;
}

.border-radius-15per {
  border-radius: 15%;
}

.border-radius-20per {
  border-radius: 20%;
}

.border-radius-25per {
  border-radius: 25%;
}

.border-radius-30per {
  border-radius: 30%;
}

.border-radius-35per {
  border-radius: 35%;
}

.border-radius-40per {
  border-radius: 40%;
}

.border-radius-45per {
  border-radius: 45%;
}

.border-radius-50per {
  border-radius: 50%;
}

.border-radius-55per {
  border-radius: 55%;
}

.border-radius-60per {
  border-radius: 60%;
}

.border-radius-65per {
  border-radius: 65%;
}

.border-radius-70per {
  border-radius: 70%;
}

.border-radius-75per {
  border-radius: 75%;
}

.border-radius-80per {
  border-radius: 80%;
}

.border-radius-85per {
  border-radius: 85%;
}

.border-radius-90per {
  border-radius: 90%;
}

.border-radius-95per {
  border-radius: 95%;
}

.border-radius-100per {
  border-radius: 100%;
}

.border-top-left-radius-1 {
  border-top-left-radius: 1px;
}

.border-top-left-radius-2 {
  border-top-left-radius: 2px;
}

.border-top-left-radius-3 {
  border-top-left-radius: 3px;
}

.border-top-left-radius-4 {
  border-top-left-radius: 4px;
}

.border-top-left-radius-5 {
  border-top-left-radius: 5px;
}

.border-top-left-radius-6 {
  border-top-left-radius: 6px;
}

.border-top-left-radius-7 {
  border-top-left-radius: 7px;
}

.border-top-left-radius-8 {
  border-top-left-radius: 8px;
}

.border-top-left-radius-9 {
  border-top-left-radius: 9px;
}

.border-top-left-radius-10 {
  border-top-left-radius: 10px;
}

.border-top-left-radius-11 {
  border-top-left-radius: 11px;
}

.border-top-left-radius-12 {
  border-top-left-radius: 12px;
}

.border-top-left-radius-13 {
  border-top-left-radius: 13px;
}

.border-top-left-radius-14 {
  border-top-left-radius: 14px;
}

.border-top-left-radius-15 {
  border-top-left-radius: 15px;
}

.border-top-left-radius-16 {
  border-top-left-radius: 16px;
}

.border-top-left-radius-17 {
  border-top-left-radius: 17px;
}

.border-top-left-radius-18 {
  border-top-left-radius: 18px;
}

.border-top-left-radius-19 {
  border-top-left-radius: 19px;
}

.border-top-left-radius-20 {
  border-top-left-radius: 20px;
}

.border-top-left-radius-21 {
  border-top-left-radius: 21px;
}

.border-top-left-radius-22 {
  border-top-left-radius: 22px;
}

.border-top-left-radius-23 {
  border-top-left-radius: 23px;
}

.border-top-left-radius-24 {
  border-top-left-radius: 24px;
}

.border-top-left-radius-25 {
  border-top-left-radius: 25px;
}

.border-top-left-radius-5per {
  border-top-left-radius: 10%;
}

.border-top-left-radius-10per {
  border-top-left-radius: 10%;
}

.border-top-left-radius-15per {
  border-top-left-radius: 15%;
}

.border-top-left-radius-20per {
  border-top-left-radius: 20%;
}

.border-top-left-radius-25per {
  border-top-left-radius: 25%;
}

.border-top-left-radius-30per {
  border-top-left-radius: 30%;
}

.border-top-left-radius-35per {
  border-top-left-radius: 35%;
}

.border-top-left-radius-40per {
  border-top-left-radius: 40%;
}

.border-top-left-radius-45per {
  border-top-left-radius: 45%;
}

.border-top-left-radius-50per {
  border-top-left-radius: 50%;
}

.border-top-left-radius-55per {
  border-top-left-radius: 55%;
}

.border-top-left-radius-60per {
  border-top-left-radius: 60%;
}

.border-top-left-radius-65per {
  border-top-left-radius: 65%;
}

.border-top-left-radius-70per {
  border-top-left-radius: 70%;
}

.border-top-left-radius-75per {
  border-top-left-radius: 75%;
}

.border-top-left-radius-80per {
  border-top-left-radius: 80%;
}

.border-top-left-radius-85per {
  border-top-left-radius: 85%;
}

.border-top-left-radius-90per {
  border-top-left-radius: 90%;
}

.border-top-left-radius-95per {
  border-top-left-radius: 95%;
}

.border-top-left-radius-100per {
  border-top-left-radius: 100%;
}

.border-top-right-radius-1 {
  border-top-right-radius: 1px;
}

.border-top-right-radius-2 {
  border-top-right-radius: 2px;
}

.border-top-right-radius-3 {
  border-top-right-radius: 3px;
}

.border-top-right-radius-4 {
  border-top-right-radius: 4px;
}

.border-top-right-radius-5 {
  border-top-right-radius: 5px;
}

.border-top-right-radius-6 {
  border-top-right-radius: 6px;
}

.border-top-right-radius-7 {
  border-top-right-radius: 7px;
}

.border-top-right-radius-8 {
  border-top-right-radius: 8px;
}

.border-top-right-radius-9 {
  border-top-right-radius: 9px;
}

.border-top-right-radius-10 {
  border-top-right-radius: 10px;
}

.border-top-right-radius-11 {
  border-top-right-radius: 11px;
}

.border-top-right-radius-12 {
  border-top-right-radius: 12px;
}

.border-top-right-radius-13 {
  border-top-right-radius: 13px;
}

.border-top-right-radius-14 {
  border-top-right-radius: 14px;
}

.border-top-right-radius-15 {
  border-top-right-radius: 15px;
}

.border-top-right-radius-16 {
  border-top-right-radius: 16px;
}

.border-top-right-radius-17 {
  border-top-right-radius: 17px;
}

.border-top-right-radius-18 {
  border-top-right-radius: 18px;
}

.border-top-right-radius-19 {
  border-top-right-radius: 19px;
}

.border-top-right-radius-20 {
  border-top-right-radius: 20px;
}

.border-top-right-radius-21 {
  border-top-right-radius: 21px;
}

.border-top-right-radius-22 {
  border-top-right-radius: 22px;
}

.border-top-right-radius-23 {
  border-top-right-radius: 23px;
}

.border-top-right-radius-24 {
  border-top-right-radius: 24px;
}

.border-top-right-radius-25 {
  border-top-right-radius: 25px;
}

.border-top-right-radius-5per {
  border-top-right-radius: 10%;
}

.border-top-right-radius-10per {
  border-top-right-radius: 10%;
}

.border-top-right-radius-15per {
  border-top-right-radius: 15%;
}

.border-top-right-radius-20per {
  border-top-right-radius: 20%;
}

.border-top-right-radius-25per {
  border-top-right-radius: 25%;
}

.border-top-right-radius-30per {
  border-top-right-radius: 30%;
}

.border-top-right-radius-35per {
  border-top-right-radius: 35%;
}

.border-top-right-radius-40per {
  border-top-right-radius: 40%;
}

.border-top-right-radius-45per {
  border-top-right-radius: 45%;
}

.border-top-right-radius-50per {
  border-top-right-radius: 50%;
}

.border-top-right-radius-55per {
  border-top-right-radius: 55%;
}

.border-top-right-radius-60per {
  border-top-right-radius: 60%;
}

.border-top-right-radius-65per {
  border-top-right-radius: 65%;
}

.border-top-right-radius-70per {
  border-top-right-radius: 70%;
}

.border-top-right-radius-75per {
  border-top-right-radius: 75%;
}

.border-top-right-radius-80per {
  border-top-right-radius: 80%;
}

.border-top-right-radius-85per {
  border-top-right-radius: 85%;
}

.border-top-right-radius-90per {
  border-top-right-radius: 90%;
}

.border-top-right-radius-95per {
  border-top-right-radius: 95%;
}

.border-top-right-radius-100per {
  border-top-right-radius: 100%;
}

.border-bottom-left-radius-1 {
  border-bottom-left-radius: 1px;
}

.border-bottom-left-radius-2 {
  border-bottom-left-radius: 2px;
}

.border-bottom-left-radius-3 {
  border-bottom-left-radius: 3px;
}

.border-bottom-left-radius-4 {
  border-bottom-left-radius: 4px;
}

.border-bottom-left-radius-5 {
  border-bottom-left-radius: 5px;
}

.border-bottom-left-radius-6 {
  border-bottom-left-radius: 6px;
}

.border-bottom-left-radius-7 {
  border-bottom-left-radius: 7px;
}

.border-bottom-left-radius-8 {
  border-bottom-left-radius: 8px;
}

.border-bottom-left-radius-9 {
  border-bottom-left-radius: 9px;
}

.border-bottom-left-radius-10 {
  border-bottom-left-radius: 10px;
}

.border-bottom-left-radius-11 {
  border-bottom-left-radius: 11px;
}

.border-bottom-left-radius-12 {
  border-bottom-left-radius: 12px;
}

.border-bottom-left-radius-13 {
  border-bottom-left-radius: 13px;
}

.border-bottom-left-radius-14 {
  border-bottom-left-radius: 14px;
}

.border-bottom-left-radius-15 {
  border-bottom-left-radius: 15px;
}

.border-bottom-left-radius-16 {
  border-bottom-left-radius: 16px;
}

.border-bottom-left-radius-17 {
  border-bottom-left-radius: 17px;
}

.border-bottom-left-radius-18 {
  border-bottom-left-radius: 18px;
}

.border-bottom-left-radius-19 {
  border-bottom-left-radius: 19px;
}

.border-bottom-left-radius-20 {
  border-bottom-left-radius: 20px;
}

.border-bottom-left-radius-21 {
  border-bottom-left-radius: 21px;
}

.border-bottom-left-radius-22 {
  border-bottom-left-radius: 22px;
}

.border-bottom-left-radius-23 {
  border-bottom-left-radius: 23px;
}

.border-bottom-left-radius-24 {
  border-bottom-left-radius: 24px;
}

.border-bottom-left-radius-25 {
  border-bottom-left-radius: 25px;
}

.border-bottom-left-radius-5per {
  border-bottom-left-radius: 10%;
}

.border-bottom-left-radius-10per {
  border-bottom-left-radius: 10%;
}

.border-bottom-left-radius-15per {
  border-bottom-left-radius: 15%;
}

.border-bottom-left-radius-20per {
  border-bottom-left-radius: 20%;
}

.border-bottom-left-radius-25per {
  border-bottom-left-radius: 25%;
}

.border-bottom-left-radius-30per {
  border-bottom-left-radius: 30%;
}

.border-bottom-left-radius-35per {
  border-bottom-left-radius: 35%;
}

.border-bottom-left-radius-40per {
  border-bottom-left-radius: 40%;
}

.border-bottom-left-radius-45per {
  border-bottom-left-radius: 45%;
}

.border-bottom-left-radius-50per {
  border-bottom-left-radius: 50%;
}

.border-bottom-left-radius-55per {
  border-bottom-left-radius: 55%;
}

.border-bottom-left-radius-60per {
  border-bottom-left-radius: 60%;
}

.border-bottom-left-radius-65per {
  border-bottom-left-radius: 65%;
}

.border-bottom-left-radius-70per {
  border-bottom-left-radius: 70%;
}

.border-bottom-left-radius-75per {
  border-bottom-left-radius: 75%;
}

.border-bottom-left-radius-80per {
  border-bottom-left-radius: 80%;
}

.border-bottom-left-radius-85per {
  border-bottom-left-radius: 85%;
}

.border-bottom-left-radius-90per {
  border-bottom-left-radius: 90%;
}

.border-bottom-left-radius-95per {
  border-bottom-left-radius: 95%;
}

.border-bottom-left-radius-100per {
  border-bottom-left-radius: 100%;
}

.border-bottom-right-radius-1 {
  border-bottom-right-radius: 1px;
}

.border-bottom-right-radius-2 {
  border-bottom-right-radius: 2px;
}

.border-bottom-right-radius-3 {
  border-bottom-right-radius: 3px;
}

.border-bottom-right-radius-4 {
  border-bottom-right-radius: 4px;
}

.border-bottom-right-radius-5 {
  border-bottom-right-radius: 5px;
}

.border-bottom-right-radius-6 {
  border-bottom-right-radius: 6px;
}

.border-bottom-right-radius-7 {
  border-bottom-right-radius: 7px;
}

.border-bottom-right-radius-8 {
  border-bottom-right-radius: 8px;
}

.border-bottom-right-radius-9 {
  border-bottom-right-radius: 9px;
}

.border-bottom-right-radius-10 {
  border-bottom-right-radius: 10px;
}

.border-bottom-right-radius-11 {
  border-bottom-right-radius: 11px;
}

.border-bottom-right-radius-12 {
  border-bottom-right-radius: 12px;
}

.border-bottom-right-radius-13 {
  border-bottom-right-radius: 13px;
}

.border-bottom-right-radius-14 {
  border-bottom-right-radius: 14px;
}

.border-bottom-right-radius-15 {
  border-bottom-right-radius: 15px;
}

.border-bottom-right-radius-16 {
  border-bottom-right-radius: 16px;
}

.border-bottom-right-radius-17 {
  border-bottom-right-radius: 17px;
}

.border-bottom-right-radius-18 {
  border-bottom-right-radius: 18px;
}

.border-bottom-right-radius-19 {
  border-bottom-right-radius: 19px;
}

.border-bottom-right-radius-20 {
  border-bottom-right-radius: 20px;
}

.border-bottom-right-radius-21 {
  border-bottom-right-radius: 21px;
}

.border-bottom-right-radius-22 {
  border-bottom-right-radius: 22px;
}

.border-bottom-right-radius-23 {
  border-bottom-right-radius: 23px;
}

.border-bottom-right-radius-24 {
  border-bottom-right-radius: 24px;
}

.border-bottom-right-radius-25 {
  border-bottom-right-radius: 25px;
}

.border-bottom-right-radius-5per {
  border-bottom-right-radius: 10%;
}

.border-bottom-right-radius-10per {
  border-bottom-right-radius: 10%;
}

.border-bottom-right-radius-15per {
  border-bottom-right-radius: 15%;
}

.border-bottom-right-radius-20per {
  border-bottom-right-radius: 20%;
}

.border-bottom-right-radius-25per {
  border-bottom-right-radius: 25%;
}

.border-bottom-right-radius-30per {
  border-bottom-right-radius: 30%;
}

.border-bottom-right-radius-35per {
  border-bottom-right-radius: 35%;
}

.border-bottom-right-radius-40per {
  border-bottom-right-radius: 40%;
}

.border-bottom-right-radius-45per {
  border-bottom-right-radius: 45%;
}

.border-bottom-right-radius-50per {
  border-bottom-right-radius: 50%;
}

.border-bottom-right-radius-55per {
  border-bottom-right-radius: 55%;
}

.border-bottom-right-radius-60per {
  border-bottom-right-radius: 60%;
}

.border-bottom-right-radius-65per {
  border-bottom-right-radius: 65%;
}

.border-bottom-right-radius-70per {
  border-bottom-right-radius: 70%;
}

.border-bottom-right-radius-75per {
  border-bottom-right-radius: 75%;
}

.border-bottom-right-radius-80per {
  border-bottom-right-radius: 80%;
}

.border-bottom-right-radius-85per {
  border-bottom-right-radius: 85%;
}

.border-bottom-right-radius-90per {
  border-bottom-right-radius: 90%;
}

.border-bottom-right-radius-95per {
  border-bottom-right-radius: 95%;
}

.border-bottom-right-radius-100per {
  border-bottom-right-radius: 100%;
}

.margin-1 {
  margin: 1px;
}

.margin-2 {
  margin: 2px;
}

.margin-3 {
  margin: 3px;
}

.margin-4 {
  margin: 4px;
}

.margin-5 {
  margin: 5px;
}

.margin-6 {
  margin: 6px;
}

.margin-7 {
  margin: 7px;
}

.margin-8 {
  margin: 8px;
}

.margin-9 {
  margin: 9px;
}

.margin-10 {
  margin: 10px;
}

.margin-11 {
  margin: 11px;
}

.margin-12 {
  margin: 12px;
}

.margin-13 {
  margin: 13px;
}

.margin-14 {
  margin: 14px;
}

.margin-15 {
  margin: 15px;
}

.margin-16 {
  margin: 16px;
}

.margin-17 {
  margin: 17px;
}

.margin-18 {
  margin: 18px;
}

.margin-19 {
  margin: 19px;
}

.margin-20 {
  margin: 20px;
}

.margin-21 {
  margin: 21px;
}

.margin-22 {
  margin: 22px;
}

.margin-23 {
  margin: 23px;
}

.margin-24 {
  margin: 24px;
}

.margin-25 {
  margin: 25px;
}

.margin-top-1 {
  margin-top: 1px;
}

.margin-top-2 {
  margin-top: 2px;
}

.margin-top-3 {
  margin-top: 3px;
}

.margin-top-4 {
  margin-top: 4px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-6 {
  margin-top: 6px;
}

.margin-top-7 {
  margin-top: 7px;
}

.margin-top-8 {
  margin-top: 8px;
}

.margin-top-9 {
  margin-top: 9px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-11 {
  margin-top: 11px;
}

.margin-top-12 {
  margin-top: 12px;
}

.margin-top-13 {
  margin-top: 13px;
}

.margin-top-14 {
  margin-top: 14px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-16 {
  margin-top: 16px;
}

.margin-top-17 {
  margin-top: 17px;
}

.margin-top-18 {
  margin-top: 18px;
}

.margin-top-19 {
  margin-top: 19px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-21 {
  margin-top: 21px;
}

.margin-top-22 {
  margin-top: 22px;
}

.margin-top-23 {
  margin-top: 23px;
}

.margin-top-24 {
  margin-top: 24px;
}

.margin-top-25 {
  margin-top: 25px;
}

.margin-bottom-1 {
  margin-bottom: 1px;
}

.margin-bottom-2 {
  margin-bottom: 2px;
}

.margin-bottom-3 {
  margin-bottom: 3px;
}

.margin-bottom-4 {
  margin-bottom: 4px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-6 {
  margin-bottom: 6px;
}

.margin-bottom-7 {
  margin-bottom: 7px;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}

.margin-bottom-9 {
  margin-bottom: 9px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-11 {
  margin-bottom: 11px;
}

.margin-bottom-12 {
  margin-bottom: 12px;
}

.margin-bottom-13 {
  margin-bottom: 13px;
}

.margin-bottom-14 {
  margin-bottom: 14px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.margin-bottom-17 {
  margin-bottom: 17px;
}

.margin-bottom-18 {
  margin-bottom: 18px;
}

.margin-bottom-19 {
  margin-bottom: 19px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-21 {
  margin-bottom: 21px;
}

.margin-bottom-22 {
  margin-bottom: 22px;
}

.margin-bottom-23 {
  margin-bottom: 23px;
}

.margin-bottom-24 {
  margin-bottom: 24px;
}

.margin-bottom-25 {
  margin-bottom: 25px;
}

.margin-left-1 {
  margin-left: 1px;
}

.margin-left-2 {
  margin-left: 2px;
}

.margin-left-3 {
  margin-left: 3px;
}

.margin-left-4 {
  margin-left: 4px;
}

.margin-left-5 {
  margin-left: 5px;
}

.margin-left-6 {
  margin-left: 6px;
}

.margin-left-7 {
  margin-left: 7px;
}

.margin-left-8 {
  margin-left: 8px;
}

.margin-left-9 {
  margin-left: 9px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-11 {
  margin-left: 11px;
}

.margin-left-12 {
  margin-left: 12px;
}

.margin-left-13 {
  margin-left: 13px;
}

.margin-left-14 {
  margin-left: 14px;
}

.margin-left-15 {
  margin-left: 15px;
}

.margin-left-16 {
  margin-left: 16px;
}

.margin-left-17 {
  margin-left: 17px;
}

.margin-left-18 {
  margin-left: 18px;
}

.margin-left-19 {
  margin-left: 19px;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-left-21 {
  margin-left: 21px;
}

.margin-left-22 {
  margin-left: 22px;
}

.margin-left-23 {
  margin-left: 23px;
}

.margin-left-24 {
  margin-left: 24px;
}

.margin-left-25 {
  margin-left: 25px;
}

.margin-right-1 {
  margin-right: 1px;
}

.margin-right-2 {
  margin-right: 2px;
}

.margin-right-3 {
  margin-right: 3px;
}

.margin-right-4 {
  margin-right: 4px;
}

.margin-right-5 {
  margin-right: 5px;
}

.margin-right-6 {
  margin-right: 6px;
}

.margin-right-7 {
  margin-right: 7px;
}

.margin-right-8 {
  margin-right: 8px;
}

.margin-right-9 {
  margin-right: 9px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-right-11 {
  margin-right: 11px;
}

.margin-right-12 {
  margin-right: 12px;
}

.margin-right-13 {
  margin-right: 13px;
}

.margin-right-14 {
  margin-right: 14px;
}

.margin-right-15 {
  margin-right: 15px;
}

.margin-right-16 {
  margin-right: 16px;
}

.margin-right-17 {
  margin-right: 17px;
}

.margin-right-18 {
  margin-right: 18px;
}

.margin-right-19 {
  margin-right: 19px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-right-21 {
  margin-right: 21px;
}

.margin-right-22 {
  margin-right: 22px;
}

.margin-right-23 {
  margin-right: 23px;
}

.margin-right-24 {
  margin-right: 24px;
}

.margin-right-25 {
  margin-right: 25px;
}

.margin-x-1 {
  margin: 1px 0;
}

.margin-x-2 {
  margin: 2px 0;
}

.margin-x-3 {
  margin: 3px 0;
}

.margin-x-4 {
  margin: 4px 0;
}

.margin-x-5 {
  margin: 5px 0;
}

.margin-x-6 {
  margin: 6px 0;
}

.margin-x-7 {
  margin: 7px 0;
}

.margin-x-8 {
  margin: 8px 0;
}

.margin-x-9 {
  margin: 9px 0;
}

.margin-x-10 {
  margin: 10px 0;
}

.margin-x-11 {
  margin: 11px 0;
}

.margin-x-12 {
  margin: 12px 0;
}

.margin-x-13 {
  margin: 13px 0;
}

.margin-x-14 {
  margin: 14px 0;
}

.margin-x-15 {
  margin: 15px 0;
}

.margin-x-16 {
  margin: 16px 0;
}

.margin-x-17 {
  margin: 17px 0;
}

.margin-x-18 {
  margin: 18px 0;
}

.margin-x-19 {
  margin: 19px 0;
}

.margin-x-20 {
  margin: 20px 0;
}

.margin-x-21 {
  margin: 21px 0;
}

.margin-x-22 {
  margin: 22px 0;
}

.margin-x-23 {
  margin: 23px 0;
}

.margin-x-24 {
  margin: 24px 0;
}

.margin-x-25 {
  margin: 25px 0;
}

.margin-x-1 {
  margin: 0  1px;
}

.margin-x-2 {
  margin: 0  2px;
}

.margin-x-3 {
  margin: 0  3px;
}

.margin-x-4 {
  margin: 0  4px;
}

.margin-x-5 {
  margin: 0  5px;
}

.margin-x-6 {
  margin: 0  6px;
}

.margin-x-7 {
  margin: 0  7px;
}

.margin-x-8 {
  margin: 0  8px;
}

.margin-x-9 {
  margin: 0  9px;
}

.margin-x-10 {
  margin: 0 10px;
}

.margin-x-11 {
  margin: 0 11px;
}

.margin-x-12 {
  margin: 0 12px;
}

.margin-x-13 {
  margin: 0 13px;
}

.margin-x-14 {
  margin: 0 14px;
}

.margin-x-15 {
  margin: 0 15px;
}

.margin-x-16 {
  margin: 0 16px;
}

.margin-x-17 {
  margin: 0 17px;
}

.margin-x-18 {
  margin: 0 18px;
}

.margin-x-19 {
  margin: 0 19px;
}

.margin-x-20 {
  margin: 0 20px;
}

.margin-x-21 {
  margin: 0 21px;
}

.margin-x-22 {
  margin: 0 22px;
}

.margin-x-23 {
  margin: 0 23px;
}

.margin-x-24 {
  margin: 0 24px;
}

.margin-x-25 {
  margin: 0 25px;
}

.margin-y-1 {
  margin: 1px 0;
}

.margin-y-2 {
  margin: 2px 0;
}

.margin-y-3 {
  margin: 3px 0;
}

.margin-y-4 {
  margin: 4px 0;
}

.margin-y-5 {
  margin: 5px 0;
}

.margin-y-6 {
  margin: 6px 0;
}

.margin-y-7 {
  margin: 7px 0;
}

.margin-y-8 {
  margin: 8px 0;
}

.margin-y-9 {
  margin: 9px 0;
}

.margin-y-10 {
  margin: 10px 0;
}

.margin-y-11 {
  margin: 11px 0;
}

.margin-y-12 {
  margin: 12px 0;
}

.margin-y-13 {
  margin: 13px 0;
}

.margin-y-14 {
  margin: 14px 0;
}

.margin-y-15 {
  margin: 15px 0;
}

.margin-y-16 {
  margin: 16px 0;
}

.margin-y-17 {
  margin: 17px 0;
}

.margin-y-18 {
  margin: 18px 0;
}

.margin-y-19 {
  margin: 19px 0;
}

.margin-y-20 {
  margin: 20px 0;
}

.margin-y-21 {
  margin: 21px 0;
}

.margin-y-22 {
  margin: 22px 0;
}

.margin-y-23 {
  margin: 23px 0;
}

.margin-y-24 {
  margin: 24px 0;
}

.margin-y-25 {
  margin: 25px 0;
}

.padding-1 {
  padding: 1px;
}

.padding-2 {
  padding: 2px;
}

.padding-3 {
  padding: 3px;
}

.padding-4 {
  padding: 4px;
}

.padding-5 {
  padding: 5px;
}

.padding-6 {
  padding: 6px;
}

.padding-7 {
  padding: 7px;
}

.padding-8 {
  padding: 8px;
}

.padding-9 {
  padding: 9px;
}

.padding-10 {
  padding: 10px;
}

.padding-11 {
  padding: 11px;
}

.padding-12 {
  padding: 12px;
}

.padding-13 {
  padding: 13px;
}

.padding-14 {
  padding: 14px;
}

.padding-15 {
  padding: 15px;
}

.padding-16 {
  padding: 16px;
}

.padding-17 {
  padding: 17px;
}

.padding-18 {
  padding: 18px;
}

.padding-19 {
  padding: 19px;
}

.padding-20 {
  padding: 20px;
}

.padding-21 {
  padding: 21px;
}

.padding-22 {
  padding: 22px;
}

.padding-23 {
  padding: 23px;
}

.padding-24 {
  padding: 24px;
}

.padding-25 {
  padding: 25px;
}

.padding-top-1 {
  padding-top: 1px;
}

.padding-top-2 {
  padding-top: 2px;
}

.padding-top-3 {
  padding-top: 3px;
}

.padding-top-4 {
  padding-top: 4px;
}

.padding-top-5 {
  padding-top: 5px;
}

.padding-top-6 {
  padding-top: 6px;
}

.padding-top-7 {
  padding-top: 7px;
}

.padding-top-8 {
  padding-top: 8px;
}

.padding-top-9 {
  padding-top: 9px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-11 {
  padding-top: 11px;
}

.padding-top-12 {
  padding-top: 12px;
}

.padding-top-13 {
  padding-top: 13px;
}

.padding-top-14 {
  padding-top: 14px;
}

.padding-top-15 {
  padding-top: 15px;
}

.padding-top-16 {
  padding-top: 16px;
}

.padding-top-17 {
  padding-top: 17px;
}

.padding-top-18 {
  padding-top: 18px;
}

.padding-top-19 {
  padding-top: 19px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-top-21 {
  padding-top: 21px;
}

.padding-top-22 {
  padding-top: 22px;
}

.padding-top-23 {
  padding-top: 23px;
}

.padding-top-24 {
  padding-top: 24px;
}

.padding-top-25 {
  padding-top: 25px;
}

.padding-bottom-1 {
  padding-bottom: 1px;
}

.padding-bottom-2 {
  padding-bottom: 2px;
}

.padding-bottom-3 {
  padding-bottom: 3px;
}

.padding-bottom-4 {
  padding-bottom: 4px;
}

.padding-bottom-5 {
  padding-bottom: 5px;
}

.padding-bottom-6 {
  padding-bottom: 6px;
}

.padding-bottom-7 {
  padding-bottom: 7px;
}

.padding-bottom-8 {
  padding-bottom: 8px;
}

.padding-bottom-9 {
  padding-bottom: 9px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-bottom-11 {
  padding-bottom: 11px;
}

.padding-bottom-12 {
  padding-bottom: 12px;
}

.padding-bottom-13 {
  padding-bottom: 13px;
}

.padding-bottom-14 {
  padding-bottom: 14px;
}

.padding-bottom-15 {
  padding-bottom: 15px;
}

.padding-bottom-16 {
  padding-bottom: 16px;
}

.padding-bottom-17 {
  padding-bottom: 17px;
}

.padding-bottom-18 {
  padding-bottom: 18px;
}

.padding-bottom-19 {
  padding-bottom: 19px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-bottom-21 {
  padding-bottom: 21px;
}

.padding-bottom-22 {
  padding-bottom: 22px;
}

.padding-bottom-23 {
  padding-bottom: 23px;
}

.padding-bottom-24 {
  padding-bottom: 24px;
}

.padding-bottom-25 {
  padding-bottom: 25px;
}

.padding-left-1 {
  padding-left: 1px;
}

.padding-left-2 {
  padding-left: 2px;
}

.padding-left-3 {
  padding-left: 3px;
}

.padding-left-4 {
  padding-left: 4px;
}

.padding-left-5 {
  padding-left: 5px;
}

.padding-left-6 {
  padding-left: 6px;
}

.padding-left-7 {
  padding-left: 7px;
}

.padding-left-8 {
  padding-left: 8px;
}

.padding-left-9 {
  padding-left: 9px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-left-11 {
  padding-left: 11px;
}

.padding-left-12 {
  padding-left: 12px;
}

.padding-left-13 {
  padding-left: 13px;
}

.padding-left-14 {
  padding-left: 14px;
}

.padding-left-15 {
  padding-left: 15px;
}

.padding-left-16 {
  padding-left: 16px;
}

.padding-left-17 {
  padding-left: 17px;
}

.padding-left-18 {
  padding-left: 18px;
}

.padding-left-19 {
  padding-left: 19px;
}

.padding-left-20 {
  padding-left: 20px;
}

.padding-left-21 {
  padding-left: 21px;
}

.padding-left-22 {
  padding-left: 22px;
}

.padding-left-23 {
  padding-left: 23px;
}

.padding-left-24 {
  padding-left: 24px;
}

.padding-left-25 {
  padding-left: 25px;
}

.padding-right-1 {
  padding-right: 1px;
}

.padding-right-2 {
  padding-right: 2px;
}

.padding-right-3 {
  padding-right: 3px;
}

.padding-right-4 {
  padding-right: 4px;
}

.padding-right-5 {
  padding-right: 5px;
}

.padding-right-6 {
  padding-right: 6px;
}

.padding-right-7 {
  padding-right: 7px;
}

.padding-right-8 {
  padding-right: 8px;
}

.padding-right-9 {
  padding-right: 9px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-right-11 {
  padding-right: 11px;
}

.padding-right-12 {
  padding-right: 12px;
}

.padding-right-13 {
  padding-right: 13px;
}

.padding-right-14 {
  padding-right: 14px;
}

.padding-right-15 {
  padding-right: 15px;
}

.padding-right-16 {
  padding-right: 16px;
}

.padding-right-17 {
  padding-right: 17px;
}

.padding-right-18 {
  padding-right: 18px;
}

.padding-right-19 {
  padding-right: 19px;
}

.padding-right-20 {
  padding-right: 20px;
}

.padding-right-21 {
  padding-right: 21px;
}

.padding-right-22 {
  padding-right: 22px;
}

.padding-right-23 {
  padding-right: 23px;
}

.padding-right-24 {
  padding-right: 24px;
}

.padding-right-25 {
  padding-right: 25px;
}

.padding-x-1 {
  padding: 1px 0;
}

.padding-x-2 {
  padding: 2px 0;
}

.padding-x-3 {
  padding: 3px 0;
}

.padding-x-4 {
  padding: 4px 0;
}

.padding-x-5 {
  padding: 5px 0;
}

.padding-x-6 {
  padding: 6px 0;
}

.padding-x-7 {
  padding: 7px 0;
}

.padding-x-8 {
  padding: 8px 0;
}

.padding-x-9 {
  padding: 9px 0;
}

.padding-x-10 {
  padding: 10px 0;
}

.padding-x-11 {
  padding: 11px 0;
}

.padding-x-12 {
  padding: 12px 0;
}

.padding-x-13 {
  padding: 13px 0;
}

.padding-x-14 {
  padding: 14px 0;
}

.padding-x-15 {
  padding: 15px 0;
}

.padding-x-16 {
  padding: 16px 0;
}

.padding-x-17 {
  padding: 17px 0;
}

.padding-x-18 {
  padding: 18px 0;
}

.padding-x-19 {
  padding: 19px 0;
}

.padding-x-20 {
  padding: 20px 0;
}

.padding-x-21 {
  padding: 21px 0;
}

.padding-x-22 {
  padding: 22px 0;
}

.padding-x-23 {
  padding: 23px 0;
}

.padding-x-24 {
  padding: 24px 0;
}

.padding-x-25 {
  padding: 25px 0;
}

.padding-x-1 {
  padding: 0  1px;
}

.padding-x-2 {
  padding: 0  2px;
}

.padding-x-3 {
  padding: 0  3px;
}

.padding-x-4 {
  padding: 0  4px;
}

.padding-x-5 {
  padding: 0  5px;
}

.padding-x-6 {
  padding: 0  6px;
}

.padding-x-7 {
  padding: 0  7px;
}

.padding-x-8 {
  padding: 0  8px;
}

.padding-x-9 {
  padding: 0  9px;
}

.padding-x-10 {
  padding: 0 10px;
}

.padding-x-11 {
  padding: 0 11px;
}

.padding-x-12 {
  padding: 0 12px;
}

.padding-x-13 {
  padding: 0 13px;
}

.padding-x-14 {
  padding: 0 14px;
}

.padding-x-15 {
  padding: 0 15px;
}

.padding-x-16 {
  padding: 0 16px;
}

.padding-x-17 {
  padding: 0 17px;
}

.padding-x-18 {
  padding: 0 18px;
}

.padding-x-19 {
  padding: 0 19px;
}

.padding-x-20 {
  padding: 0 20px;
}

.padding-x-21 {
  padding: 0 21px;
}

.padding-x-22 {
  padding: 0 22px;
}

.padding-x-23 {
  padding: 0 23px;
}

.padding-x-24 {
  padding: 0 24px;
}

.padding-x-25 {
  padding: 0 25px;
}

.padding-y-1 {
  padding: 1px 0;
}

.padding-y-2 {
  padding: 2px 0;
}

.padding-y-3 {
  padding: 3px 0;
}

.padding-y-4 {
  padding: 4px 0;
}

.padding-y-5 {
  padding: 5px 0;
}

.padding-y-6 {
  padding: 6px 0;
}

.padding-y-7 {
  padding: 7px 0;
}

.padding-y-8 {
  padding: 8px 0;
}

.padding-y-9 {
  padding: 9px 0;
}

.padding-y-10 {
  padding: 10px 0;
}

.padding-y-11 {
  padding: 11px 0;
}

.padding-y-12 {
  padding: 12px 0;
}

.padding-y-13 {
  padding: 13px 0;
}

.padding-y-14 {
  padding: 14px 0;
}

.padding-y-15 {
  padding: 15px 0;
}

.padding-y-16 {
  padding: 16px 0;
}

.padding-y-17 {
  padding: 17px 0;
}

.padding-y-18 {
  padding: 18px 0;
}

.padding-y-19 {
  padding: 19px 0;
}

.padding-y-20 {
  padding: 20px 0;
}

.padding-y-21 {
  padding: 21px 0;
}

.padding-y-22 {
  padding: 22px 0;
}

.padding-y-23 {
  padding: 23px 0;
}

.padding-y-24 {
  padding: 24px 0;
}

.padding-y-25 {
  padding: 25px 0;
}
/*# sourceMappingURL=umbala.css.map */