//Umbala Matching Palette
$sulu: #89F387;
$triadic: #3e4a3d;
$santas: #A1AF9F;
$malibu: #4AD0FF;
$shades: #ff9a43;
$threedom: #FF6881;
$random: #1A912D;
$warning: #B80000;
//Main pallet
$tomato: #FF6347;
$orange: #ffab0f;
$blue: #00b6ff;
$green: #BCF000;
$gray: #808080;
$gyeal: #CCC;
$slate: #6a5acd;
$violet: #e95ee9;
//Color
.sulu {
    color: $sulu
}

.triadic {
    color: $triadic
}

.santas {
    color: $santas
}

.malibu {
    color: $malibu
}

.shades {
    color: $shades
}

.threedom {
    color: $threedom
}

.random {
    color: $random
}

.warning {
    color: $warning
}

.tomato {
    color: $tomato
}

.orange {
    color: $orange
}

.blue {
    color: $blue
}

.green {
    color: $green
}

.gray {
    color: $gray
}

.gyeal {
    color: $gyeal
}

.slate {
    color: $slate
}

.violet {
    color: $violet
}