/*======================================
         Welocme to umbala
         
you can get fun with your coding time
by listining to our playlist in Spotify
=======================================*/


//Umbala Matching Palette
$sulu: #89F387;
$blue: #00acff;
$slate: #6a5acd;
$violet: #e95ee9;
$pink: #f37cb2;
$orange: #e36900;
$red: #FF6347;
$yellow: #f9f871;
$green: #008a5c;
$gray: #808080;
$gyeal: #CCC;

//Color
.sulu {
    color: $sulu
}
.blue {
    color: $blue
}
.slate {
    color: $slate
}
.violet {
    color: $violet
}
.pink {
    color: $pink
}
.orange {
    color: $orange
}
.red {
    color: $red
}
.yellow {
    color: $yellow
}
.green {
    color: $green
}
.gray {
    color: $gray
}
.gyeal {
    color: $gyeal
}